*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: darkkhaki;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainClock{
    height: 500px;
    width: 500px;
    
    position: relative;
    
    border: 20px solid white;
    border-radius: 100%;
}

.mainClock div{
    transform-origin: 100%;
    
    position: absolute;
    top: 50%;
    right: 50%;
    transition-timing-function: ease-in-out;
    
    border-radius: 5px;
}

.h{
    height: 6px;
    width: 45%;
    background-color: dodgerblue;
}

.min{
    height: 6px;
    width: 40%;
    background-color: brown;
}

.sec{
    height: 6px;
    width: 35%;
    background-color: indianred;
}